@inherits LayoutComponentBase
<PageTitle>SlimTrack</PageTitle>

<div class="page">
    <header class="header">SlimTrack</header>
    <main class="main">@Body</main>
</div>

<style>
    .page {
        padding: 12px;
    }

    .header {
        font-weight: 600;
        margin-bottom: 12px;
    }
</style>
